extends ../../_layout

block vars

  - var description = 'До момента рассадки и сбора всех гостей торжества, обычно выставляются легкие закуски и напитки в зоне аперитива или коктейльной зоне, где есть возможность приходящим встретиться, познакомиться, послушать легкую музыку и ожидать приезда молодых. С точки зрения декора обычно зона аперитива  перекликается с welcome – зоной или с общей концепцией декора помещения (в зависимости от расположения зоны). Обычно украшена настольными или напольными композициями с красиво отсервированными закусками и разлитым по бокалам вином и напитками.'
  - var elements = 'Элементы: Centerpiece, Канделябры, Grand декор.'

  - var page = {title: 'Зона аперитива', url: 'zone/aperitive', type: 'zone-page', class: 'page zone aperitive', content: {desc: description, elements: elements}, list: [], breadcrumbs: [{link: 'zone', name: 'Оформление зон'}], slider: {path: 'zone/apperitive/apperitive-', qnt: 17}, button: {text: 'Заказать оформление зоны аперитива'}, list2: []};

  - page.list.push({title: 'Welcome', link: 'welcome'})
  - page.list.push({title: 'Президиум', link: 'presidium'})
  - page.list.push({title: 'Столы гостей', link: 'guest-tables'})
  - page.list.push({title: 'Детский стол', link: 'kinder-table'})


  - page.list2.push({title: 'Подвесной декор', link: 'element/hanging-decor'})
  - page.list2.push({title: 'Grand декор', link: 'element/grand-decor'})

block content
  +zone-page(page)
