extends ../../_layout

block vars
  - var description = 'Свадьба – одно из самых многолюдных мероприятий, поэтому столов гостей обычно много и их надо как – то объединить по стилю и цветовой колористике, иначе будет слишком обыденно и непразднично. Кроме общего смысла украшенный стол для гостей – это знак внимания к каждому пришедшему, способ  дать возможность провести время приятно, в дружественной и красивой атмосфере.'
  - var decor = ' '
  - var elements = 'Элементы: Композиции на столы. Centerpiece, Канделябры,  Украшение стульев, Сервировка стола.'

  - var page = {title: 'Столы гостей', url: 'zone/guest-tables', type: 'zone-page', class: 'page zone guest-tables', content: {desc: description, decor: decor, elements: elements}, list: [], breadcrumbs: [{link: 'zone', name: 'Оформление зон'}], slider: {path: 'zone/guest-tables/guest-tables-', qnt: 12}, button: {text: 'Заказать оформление столов гостей'}, list2: []};

  - page.list.push({title: 'Welcome', link: 'welcome'})
  - page.list.push({title: 'Президиум', link: 'presidium'})
  - page.list.push({title: 'Выездная регистрация', link: 'registration'})
  - page.list.push({title: 'Детский стол', link: 'kinder-table'})


  - page.list2.push({title: 'Подвесной декор', link: 'element/hanging-decor'})
  - page.list2.push({title: 'Grand декор', link: 'element/grand-decor'})

block content
  +zone-page(page)
