extends ../../_layout

block vars

  - var description = 'Если в помещении для свадьбы есть лестница ее лучше украшать, так как это всегда красиво и стильно. Эффект восторга гостей и торжественности события будет обеспечен. Суть декора: симметрично повторяющие элементы, цветочные композиции, ткани или гирлянды. <br>Стоимость от 1 500 рублей / метр.'

  - var page = {title: 'Лестница', url: 'element/stairway', type: 'element-page', class: 'page element stairway', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/stairway/stairway-', qnt: 9}, button: {text: 'Заказать оформление лестницы'}, list2: []};

  - page.list.push({title: 'Подвесной декор', link: 'hanging-decor'})
  - page.list.push({title: 'Сервировка стола', link: 'tableware'})
  - page.list.push({title: 'Качели', link: 'swing'})
  - page.list.push({title: 'Указатели и таблички', link: 'signs-labels'})


  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
