extends ../../_layout

block vars

  - var description = 'Постеры и фото выполняют разные роли. Это могут быть фотографии молодых, а также тематические постеры в разных стилях свадеб. В некоторых  ситуациях это  единственная возможность создать необходимое пространство (море, лес, природа). Размеры могут быть от минимальных до максимальных. Стоимость - от 500 рублей.'

  - var page = {title: 'Постеры и фото', url: 'element/posters-photos', type: 'element-page', class: 'page element posters-photos', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/posters-photos/posters-photos-', qnt: 11}, button: {text: 'Заказать оформление постеров и фото'}, list2: []};

  - page.list.push({title: 'Арка', link: 'arc'})
  - page.list.push({title: 'Подвесной декор', link: 'hanging-decor'})
  - page.list.push({title: 'Grand декор', link: 'grand-decor'})
  - page.list.push({title: 'Дорожки из цветов', link: 'flower-path'})

  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
