extends ../../_layout

block vars

  - var description = 'Основной тренд времени – красивая фотография, которая рекламирует и прославляет данное событие, а также дарит память навсегда не только для молодых, но и для всех гостей.'
  - var decor = 'Декор:  Могут  быть как веселые, прикольные, так и очень красивые, торжественные. Часто перекликаются со стилем свадьбы.'
  - var elements = 'Элементы: Композиции для фотозон, Press wall, Инсталляции, Качели, Гирлянды, Арка, Световые конструкции.'

  - var page = {title: 'Фотозона', url: 'zone/photo', type: 'zone-page', class: 'page zone photo', content: {desc: description, decor: decor, elements: elements}, list: [], breadcrumbs: [{link: 'zone', name: 'Оформление зон'}], slider: {path: 'zone/photo/photo-', qnt: 11}, button: {text: 'Заказать оформление фотозоны'}, list2: []};

  - page.list.push({title: 'Выездная регистрация', link: 'registration'})
  - page.list.push({title: 'Детский стол', link: 'kinder-table'})
  - page.list.push({title: 'Танцпол', link: 'dance-floor'})
  - page.list.push({title: 'Вынос торта', link: 'cake-takeaway'})


  - page.list2.push({title: 'Композиции для фотозон', link: 'element/photo-composition'})
  - page.list2.push({title: 'Press wall', link: 'element/presswall'})
  - page.list2.push({title: 'Инсталляции', link: 'element/installation'})
  - page.list2.push({title: 'Качели', link: 'element/swing'})
  - page.list2.push({title: 'Гирлянды', link: 'element/garlands'})
  - page.list2.push({title: 'Арка', link: 'element/arc'})
  - page.list2.push({title: 'Световые конструкции', link: 'element/light-constructions'})

block content
  +zone-page(page)
