extends ../../_layout

block vars

  - var description = 'Классический вариант декорирования столов гостей. Создают уют и настроение каждого отдельного стола. Эффектно дополняют обычную сервировку. Композиция на столы  бывают:  плоские, в виде гирлянды, составных невысоких элементов, венков, свечей, лепестков, которые заполняют пространство стола. Стоимость от 3 000 рублей.'

  - var page = {title: 'Композиции на столы', url: 'element/table-composition', type: 'element-page', class: 'page element table-composition', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/table-composition/table-composition-', qnt: 11}, button: {text: 'Заказать оформление композиций'}, list2: []};

  - page.list.push({title: 'Лестница', link: 'stairway'})
  - page.list.push({title: 'Подвесной декор', link: 'hanging-decor'})
  - page.list.push({title: 'Grand декор', link: 'grand-decor'})
  - page.list.push({title: 'Дорожки из цветов', link: 'flower-path'})

  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
