extends ../../_layout

block vars

  - var description = 'Композиция выше человеческого роста. Вазы на постаменте, цветущие деревья, гигантские цветы, Фигуры из цветов. Очень эффектны. Сразу заполняют собой большое пространство. Выигрышно смотрятся на открытом воздухе (выездная регистрация). Стоимость от 15 000 рублей.'

  - var page = {title: 'Grand декор', url: 'element/grand-decor', type: 'element-page', class: 'page element grand-decor', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/grand-decor/grand-decor-', qnt: 13}, button: {text: 'Заказать оформление grand декор'}, list2: []};

  - page.list.push({title: 'Лестница', link: 'stairway'})
  - page.list.push({title: 'Арка', link: 'arc'})
  - page.list.push({title: 'Подвесной декор', link: 'hanging-decor'})
  - page.list.push({title: 'Дорожки из цветов', link: 'flower-path'})

  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
