extends ../../_layout

block vars

  - var description = 'Основная (главная по смыслу) цель свадьбы – зарегистрировать  отношения, провести церемонию заключения брака. Сейчас, благодаря выездной регистрации,  есть возможность провести  официальную часть празднично, красиво и нестандартно, исключительно для Вас и Ваших гостей. Все будут чувствовать себя приятно и радостно. Все должно быть оформлено цельно, в единой стилистике и перекликаться с образами молодых. '
  - var elements = 'Элементы: Арка, Дорожки из цветов, Украшение стульев, Grand декор'

  - var page = {title: 'Выездная регистрация', url: 'zone/registration', type: 'zone-page', class: 'page zone registration', content: {desc: description, elements: elements}, list: [], breadcrumbs: [{link: 'zone', name: 'Оформление зон'}], slider: {path: 'zone/registration/registration-', qnt: 12}, button: {text: 'Заказать оформление выездной регистрации'}, list2: []};

  - page.list.push({title: 'Президиум', link: 'presidium'})
  - page.list.push({title: 'Зона аперитива', link: 'apperitive'})
  - page.list.push({title: 'Зона подарков и пожеланий', link: 'gifts-wishes'})
  - page.list.push({title: 'Лаунж-зона', link: 'lounge'})


  - page.list2.push({title: 'Арка', link: 'element/arc'})
  - page.list2.push({title: 'Дорожки из цветов', link: 'element/flower-path'})
  - page.list2.push({title: 'Украшение стульев', link: 'element/chairs-decor'})
  - page.list2.push({title: 'Grand декор', link: 'element/grand-decor'})

block content
  +zone-page(page)
