extends ../../_layout

block vars

  - var description = 'Эта зона – это возможность гостям  дать свой наказ, установку на счастье и долгую жизнь  молодым, подарить им свою радость,  восторг и любовь.'
  - var decor  = 'Декор: может быть классический вариант: столик с книгой пожеланий, а может быть интересные развлекательные варианты: дерево пожеланий, доска для надписей, цветы, картины и прочее.'
  - var elements = 'Элементы: Композиция на столы, Украшение стульев, Инсталляции.'

  - var page = {title: 'Зона подарков и пожеланий', url: 'zone/gifts-wishes', type: 'zone-page', class: 'page zone gifts-wishes', content: {desc: description, decor: decor, elements: elements}, list: [], breadcrumbs: [{link: 'zone', name: 'Оформление зон'}], slider: {path: 'zone/gifts-wishes/gifts-wishes-', qnt: 17}, button: {text: 'Заказать оформление зоны подарков и пожеланий'}, list2: []};

  - page.list.push({title: 'Welcome', link: 'welcome'})
  - page.list.push({title: 'Президиум', link: 'presidium'})
  - page.list.push({title: 'Столы гостей', link: 'guest-tables'})
  - page.list.push({title: 'Детский стол', link: 'kinder-table'})


  - page.list2.push({title: 'Подвесной декор', link: 'element/hanging-decor'})
  - page.list2.push({title: 'Grand декор', link: 'element/grand-decor'})

block content
  +zone-page(page)
