extends ../../_layout

block vars

  - var description = 'Кроме традиционной центральной композиции на стол часто предусмотрен свадебный декор столовой сервировки. Он может включать в себя: таблички с номерами столов, имена гостей, декор меню и салфетки, комплимент гостям. Обычно это мелочи, но в целом они создают праздник и ощущение заботы о каждом госте в отдельности. Стоимость - индивидуальный расчёт.'

  - var page = {title: 'Сервировка стола', url: 'element/tableware', type: 'element-page', class: 'page element tableware', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/tableware/tableware-', qnt: 12}, button: {text: 'Заказать оформление стола'}, list2: []};

  - page.list.push({title: 'Букеты и бутоньерки', link: 'bouquets-boutonnieres'})
  - page.list.push({title: 'Украшение авто', link: 'auto-decor'})
  - page.list.push({title: 'Композиции для фотозон', link: 'photo-composition'})   
  - page.list.push({title: 'Канделябры', link: 'candelabra'})


  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
