extends ../../_layout

block vars

  - var symbol = 'Камень розовый кварц отвечает за любовные отношения, что сделало его очень популярным в свадебных тенденциях. Этот камень – настоящий любовный талисман. Эта свадьба для тех, кто обладает безукоризненным вкусом. Прекрасный оттенок для весенних и летних свадеб.'
  - var mood = 'Цвет романтики, нежности, трогательности. Цвет теплого летнего заката или румянца на щеках любимой девушки или распускающегося розового бутона.'
  - var combination = 'Беспроигрышно: с белым, золотым. Стильно: с серым. Модные тренды: с серенити.'

  - var page = {title: 'Розовый кварц (нежно-розовый)', url: 'color/rose-quartz', type: 'color-page', class: 'page color rose-quartz', content: {symb: symbol, mood: mood, comb: combination}, list: [], slider: {path: 'color/rose-quartz/rose-quartz-', qnt: 6}, breadcrumbs: [{link: 'color', name: 'Цвет свадьбы'}], button: {text: 'Заказать оформление'},}

block content
  +color-page(page)
