extends _layout

block vars

  - var txt = 'Студия дизайна Le Decor - декораторы, дизайнеры и флористы европейского уровня.<br><br>Наш девиз: королевская роскошь по доступным ценам.<br><br>Квалификация подтверждается обучением и работой с ведущими европейскими мастерами австрийской и французской школы дизайна.'
  - var page = {title: 'О нас          ', url: '', type: 'about', class: 'page about', content: {text: txt }};


block content
  +about-page(page)