extends _layout

block vars

  - var txt = 'о НАС СТРАНИЧКА бла бла бла'
  - var page = {title: 'О нас          ', url: '', type: 'about', class: 'page about', content: {text: txt }};


block content
  +about-page(page)