extends _layout

block vars

  - var txt = 'Мы знаем, как сделать Вашу свадьбу НЕЗАБЫВАЕМОЙ'
  - var page = {title: 'О нас          ', url: '', type: 'about', class: 'page about', content: {text: txt }};


block content
  +about-page(page)