extends _layout

block vars

  - var txt = '<p>+7-916-612-09-19 <p>+7-909-659-68-94 <p> +7-916-888-72-65 <p>decorsvadby@gmail.com'
  - var page = {title: 'Контакты', url: '', type: 'contact', class: 'page contact', content: {text: txt },list: []};


block content
   +contact-page(page)