extends ../../_layout

block vars

  - var description = 'Чтобы красиво заполнить пространство, инсталляции бывают просто незаменимы. По сути – это смысловой элемент, обыгранный цветочным декором. Смысл может задавать как стиль свадьбы, так и индивидуальность: инициалы молодых, LOVE IS... Могут служить дополнительными фотозонами. <br>Стоимость - индивидуальный расчёт.'

  - var page = {title: 'Инсталляции', url: 'element/installation', type: 'element-page', class: 'page element installation', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/installation/installation-', qnt: 11}, button: {text: 'Заказать оформление инсталляций'}, list2: []};

  - page.list.push({title: 'Presswall', link: 'presswall'})
  - page.list.push({title: 'Арка', link: 'arc'})
  - page.list.push({title: 'Лестница', link: 'stairway'})
  - page.list.push({title: 'Украшение стульев', link: 'chairs-decor'})


  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
