extends ../../_layout

block vars

  - var description = 'Свечи символизируют тепло семейного очага, поэтому они часто используются в свадебном декоре. В некоторых стилях – это обязательный элемент декора. Могут быть как расставлены на столах гостей, молодоженов, так и отдельно стоять. Красиво сочетание свечей с цветами и хрусталем. Стоимость от 4 000 рублей.'

  - var page = {title: 'Канделябры', url: 'element/candelabra', type: 'element-page', class: 'page element candelabra', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/candelabra/candelabra-', qnt: 11}, button: {text: 'Заказать оформление канделябров'}, list2: []};

  - page.list.push({title: 'Лестница', link: 'stairway'})
  - page.list.push({title: 'Подвесной декор', link: 'hanging-decor'})
  - page.list.push({title: 'Grand декор', link: 'grand-decor'})
  - page.list.push({title: 'Дорожки из цветов', link: 'flower-path'})

  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
