extends ../../_layout

block vars

  - var description = 'Своеобразная декорация мини – театра для фотосессий. Знаковый тренд времени. Must have для всех. Зона веселья, эмоций и развлечений. Бывают очень разными в зависимости от стилей свадеб. Стоимость - индивидуальный расчёт.' 

  - var page = {title: 'Композиции для фотозон', url: 'element/photo-composition', type: 'element-page', class: 'page element photo-composition', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/photo-composition/photo-composition-', qnt: 14}, button: {text: 'Заказать оформление композиций фотозон'}, list2: []};

  - page.list.push({title: 'Арка', link: 'arc'})
  - page.list.push({title: 'Подвесной декор', link: 'hanging-decor'})
  - page.list.push({title: 'Grand декор', link: 'grand-decor'})
  - page.list.push({title: 'Дорожки из цветов', link: 'flower-path'})

  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
