extends ../../_layout

block vars

  - var description = 'Стулья создают дополнительную возможность для декора. Каждый стул можно сделать троном для гостя. Часто представляемые стулья банкетным залом не соответствуют настроению свадьбы (очень разные) и требуют дополнительного украшения. Используются  чехлы, драпировки, банты, цветочный декор. Самый эффектный стул для свадебного декора - кьявари.  Декор стула может быть съемным и послужить гостю подарком – воспоминанием о мероприятии. <br>Стоимость от 500 рублей.'

  - var page = {title: 'Украшение стульев', url: 'element/chairs-decor', type: 'element-page', class: 'page element chairs-decor', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/chairs-decor/chairs-decor-', qnt: 12}, button: {text: 'Заказать оформление стульев'}, list2: []};

  - page.list.push({title: 'Сервировка стола', link: 'tableware'})
  - page.list.push({title: 'Качели', link: 'swing'})
  - page.list.push({title: 'Указатели и таблички', link: 'signs-labels'}) 
  - page.list.push({title: 'Композиции на столы', link: 'table-composition'})   


  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
