extends ../../_layout

block vars

  - var description = 'Указатели очень актуальны  для больших пространств и на открытом воздухе.  Планы рассадки часто бывают базовыми элементами декора в разных стилях свадеб. В зависимости от стилистики могут быть веселыми и забавными или торжественными и помпезными. Стоимость от 1 000 рублей.'

  - var page = {title: 'Указатели и таблички', url: 'element/signs-labels', type: 'element-page', class: 'page element signs-labels', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/signs-labels/signs-labels-', qnt: 15}, button: {text: 'Заказать оформление табличек и указателей'}, list2: []};

  - page.list.push({title: 'Арка', link: 'arc'})
  - page.list.push({title: 'Подвесной декор', link: 'hanging-decor'})
  - page.list.push({title: 'Grand декор', link: 'grand-decor'})
  - page.list.push({title: 'Дорожки из цветов', link: 'flower-path'})

  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
