extends ../../_layout

block vars

  - var description = 'Указатели очень актуальны  для больших пространств и на открытом воздухе.  Планы рассадки часто бывают базовыми элементами декора в разных стилях свадеб. В зависимости от стилистики могут быть веселыми и забавными или торжественными и помпезными. <br>Стоимость от 1 000 рублей.'

  - var page = {title: 'Указатели и таблички', url: 'element/signs-labels', type: 'element-page', class: 'page element signs-labels', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/signs-labels/signs-labels-', qnt: 13}, button: {text: 'Заказать оформление табличек и указателей'}, list2: []};

  - page.list.push({title: 'Композиции для фотозон', link: 'photo-composition'})
  - page.list.push({title: 'Канделябры', link: 'candelabra'})
  - page.list.push({title: 'Дорожки из цветов', link: 'flower-path'})
  - page.list.push({title: 'Венки и браслеты', link: 'wreaths-bracelets'})


  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
