extends ../../_layout

block vars

  - var description = 'Высокая обобщающая  композиция  на столах гостей и прочих элементах декорирования. Высота композиции обычно выше уровня глаз гостей (не мешает общению и сервировке стола). Задает тон общему украшению зала и обобщает его пространство (используются основные цвета свадьбы). Простой способ создать торжественную и праздничную атмосферу. Стоимость от 4 000 рублей.'

  - var page = {title: 'Centerpiece', url: 'element/centerpiece', type: 'element-page', class: 'page element centerpiece', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/centerpiece/centerpiece-', qnt: 11}, button: {text: 'Заказать оформление centerpiece'}, list2: []};

  - page.list.push({title: 'Лестница', link: 'stairway'})
  - page.list.push({title: 'Подвесной декор', link: 'hanging-decor'})
  - page.list.push({title: 'Grand декор', link: 'grand-decor'})
  - page.list.push({title: 'Дорожки из цветов', link: 'flower-path'})

  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
