extends ../../_layout

block vars

  - var description = 'Декор, создающий воздушность, легкость, прозрачность. Дает возможность скрыть дефекты помещения, сгладить шероховатости. Облагораживают и делают нежными грубые формы (арки, столы). Чаще всего используются ткани: органза, атлас, шелк, иногда бархат. Придают ощущение теплоты и уюта. Выигрышный обобщающий элемент. В свадебном декоре обычно дополняются цветочными композициями. Стоимость - индивидуальный расчёт'

  - var page = {title: 'Драпировка тканями', url: 'element/drapery', type: 'element-page', class: 'page element drapery', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/drapery/drapery-', qnt: 14}, button: {text: 'Заказать оформление тканями'}, list2: []};

  - page.list.push({title: 'Лестница', link: 'stairway'})
  - page.list.push({title: 'Подвесной декор', link: 'hanging-decor'})
  - page.list.push({title: 'Grand декор', link: 'grand-decor'})
  - page.list.push({title: 'Дорожки из цветов', link: 'flower-path'})

  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
