extends ../../_layout

block vars

  - var description = 'Это место встречи молодых и гостей. В свадебной традиции – это знаковое место встречи и проведения некоторых традиционных обрядов: встреча и благословление родителей молодых, каравай, разбивание бокалов на счастье и прочее.'
  - var decor = 'Декор: Или обыгрывание идеи входа (декор дверного пространства или проема) или его имитация.'
  - var elements = 'Элементы:  Входная зона,  Лестница,  Grand декор, Указатели и таблички, Press wall.'

  - var page = {title: 'Welcome-зона', url: 'zone/welcome', type: 'zone-page', class: 'page zone welcome', content: {desc: description, decor: decor, elements: elements}, list: [], breadcrumbs: [{link: 'zone', name: 'Оформление зон'}], slider: {path: 'zone/welcome/welcome-', qnt: 9}, button: {text: 'Заказать оформление welcome-зоны'}, list2: []}

  - page.list.push({title: 'Выездная регистрация', link: 'registration'})
  - page.list.push({title: 'Президиум', link: 'presidium'})
  - page.list.push({title: 'Столы гостей', link: 'guest-tables'})
  - page.list.push({title: 'Детский стол', link: 'kinder-table'})


  - page.list2.push({title: 'Подвесной декор', link: 'element/hanging-decor'})
  - page.list2.push({title: 'Grand декор', link: 'element/grand-decor'})

block content
  +zone-page(page)
