extends ../../_layout

block vars

  - var description = 'Интересный тренд в свадебном декоре. Представляют собой спадающие вниз цветочные или тканевые композиции. Для небольших помещений могут быть выигрышной «изюминкой». Могут быть: цветочные элементы с края стола на пол, фестоны на спинку стула, элементы настенного декора. Часто: декор дверного проема. Стоимость от 15 000 рублей.'

  - var page = {title: 'Ниспадающие композиции', url: 'element/flowing-compositions', type: 'element-page', class: 'page element flowing-compositions', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/flowing-compositions/flowing-compositions-', qnt: 10}, button: {text: 'Заказать оформление ниспадающих композиций'}, list2: []};

  - page.list.push({title: 'Качели', link: 'swing'})
  - page.list.push({title: 'Указатели и таблички', link: 'signs-labels'})
  - page.list.push({title: 'Композиции на столы', link: 'table-composition'})
  - page.list.push({title: 'Grand декор', link: 'grand-decor'})    


  - page.list2.push({title: 'Фотозона', url: 'zone/photo'})
  - page.list2.push({title: 'Президиум', link: 'zone/presidium'})


block content
  +element-page(page)
